/gen

/out
/bin
/tests/gen
/tests/bin
.DS_Store
*.iws
versions.properties
.settings
my.properties
.idea
/**/*.iml
/nbproject
local.properties
/assets/version.txt
/build
/.gradle
/*.apk
assets/version.properties
**/*\
lastmilecheckin/build
/captures
/captures/*

/cx.json
/.idea/
/gradle/
/.gradle/
/out/
